.main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* --- bannière notre festival --- */


.festival_banner p{
    margin: 0;
    font-weight: 400;
}

.festival_banner h2{
    margin: 0;
}

.main_banner{
    width: 100%;
}

/* --- Accueil content --- */

.main_content{
    padding-top: 0;
}

.video_section{
    width: 100%;
    position: relative;
}

.video_container{
    height: 100%;
}

.video_element{
    width: 100%;
}

.accueil_main_content{
    margin-top:0;
}

.video_banner{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 130px;
}

.video_banner h3{
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}


.accueil_intro{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accueil_intro h3{
    font-family: "Montserrat", sans-serif;
    width: 90%;
}

.intro_sub_paragraph{
    width: 90%;
    line-height: 20px;
}

.introduction{
    width: 90%;
    font-family: "Montserrat", sans-serif;
    line-height: 22px;
}

.accueil_icon_links_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accueil_icon_links_section h3{
    text-align: center;
}

.accueil_icon_links_section a{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

.accueil_icon_links_section a:hover{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0px;
}

.accueil_icon_links_section_programmation, 
.accueil_icon_links_section_lieux, 
.accueil_icon_links_section_artistes{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.section_billetterie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_billetterie h2{
    margin-bottom: 5px;
}

.billetterie_banner{
    background-color: black;
    color: white;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}


.billetterie_banner>p>span{
    font-weight: bold;
}

.billet_arrow{
    display: none;
}

.benevole_section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.benevole_section h2{
    font-size: 20px;
    text-align: center;
}

.benevole_section h3{
    font-size: 20px;
}


.benevole_section img{
    display: none;
}

.benevole_section_banner{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.benevole_section a:hover{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0px;
}

.benevole_section_banner_green_content{
    display: flex;
    justify-content: center;
}

.benevole_section_banner_green_content h3{
    background-color: var(--festival);
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.menterie_container,
.prix-jb_container,
.bavarde_container,
.responsable_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.menterie_container h3,
.prix-jb_container h3,
.bavarde_container h3,
.responsable_container h3{
    margin: 0;
    padding: 15px;
}

.menterie_container p,
.prix-jb_container p,
.bavarde_container p,
.responsable_container p{
    text-align: center;
}

.menterie_container_imgs,
.prix-jb_container_imgs,
.bavarde_container_imgs,
.responsable_container_imgs{
    display: none;
}

.menterie_container_text,
.prix-jb_container_text,
.bavarde_container_text,
.responsable_container_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.menterie_container_text h3,
.prix-jb_container_text h3,
.bavarde_container_text h3,
.responsable_container_text h3{
    text-decoration: underline var(--festival) 2px;
}*/


.sub_section_link{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.sub_section_link:hover{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0px;
}

.sub_section_link:focus{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0px;
    outline: none;
}

.derniere_edition_imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 75px 0px;
    width: 90%;
}

.derniere_edition_imgs>p,
.derniere_edition_imgs>a{
    background-color: var(--festival);
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    width: 90%;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    text-decoration: none;
}

.derniere_edition_imgs>a:hover{
    background-color: white;
    color: black;
    box-sizing: border-box;
    border: 2px solid black;
}

.derniere_edition_imgs>a:focus{
    background-color: white;
    color: black;
    outline: none;
    box-sizing: border-box;
    border: 2px solid black;
}



.images_container{
    width: 90%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.images_container img{
    width: 90%;
}






@media screen and (min-width: 600px) {
    .video_banner h3{
        font-size: 22px;

    }

    .video_banner p{
        font-size: 20px;
    }

    .billetterie_banner p{
        font-size: 22px;
        line-height: 25px;
    }

    .benevole_section_banner{
        width: 100%;
    }

    .benevole_section_banner h2{
        font-size: 28px;
    }

    .sub_section_h3{
        font-size: 30px;
        text-decoration: underline var(--festival) 2px;
    }

    .derniere_edition_imgs>p,
    .derniere_edition_imgs>a{
    padding: 20px 0px;
    }

    .les_meilleurs_moments,
    .derniere_edition_imgs>a{
        font-size: 20px;
    }
}


@media screen and (min-width: 1200px) {
    .video_section {
        margin: 75px auto;
        margin-bottom: 0;
        width: 90%;
    }

    .introduction{
        font-size: 20px;
        line-height: 28px;
    }

    .video_banner{
        width: 90%;
    }

    .accueil_icon_links_section{
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    .accueil_icon_links_section>div{
        width: 30%;
    }

    .billetterie_banner{
        width: 90%;
        height: 170px;
    }

    .billetterie_banner p{
        font-size: 26px;
        line-height: 30px;
    }

    .billet_arrow{
        display: block;
        width: 40%;
    }

    .billet_mockup{
        align-self: flex-end;
        position: absolute;
        top: 100px;
        right: 60px;
    }

    .billetterie_banner>p{
        margin-bottom: 5px;
    }

    .benevole_section h2, 
    .benevole_section h3{
        font-size: 28px;
    }

}

@media screen and (min-width: 1500px) {

    .derniere_edition_imgs>p{
        position: absolute;
        top: -40px;
        left: 90px;
        transform: rotate(-3deg);
        width: 30%;
    }

    .derniere_edition_imgs>a{
        position: absolute;
        top: 550px;
        right: 20px;
        width: 20%;
    }

    .main_content {
        max-width: 1200px;
    }

    .video_section {
        max-width: 1200px;
    }

    .video_banner{
        position: absolute;
        z-index: 3;
        top: 1000px;
        left: auto;
        transform: rotate(-3deg);
        width: 95%;
        max-width: 1800px;
    }

    .introduction{
        margin-top: 100px;
    }

    .benevole_section{
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .benevole_section h2{
        font-size: 30px;
        margin-bottom: 0;
    }

    .benevole_section img{
        display: block;
    }

    .benevole_section_banner{
        align-items: flex-start;
    }

    .benevole_section_banner{
        width: 60%;
    }

    .benevole_section_banner_green_content{
        width: 100%;
        justify-content: flex-start;
    }

    .benevole_section_banner h3{
        font-size: 34px;
        width: 100%;
        text-align: left;
    }

    .benevole_section_banner a{
        align-self: flex-end;
        margin-right: 80px;
        font-size: 24px;
    }

    .benevole_section a:hover{
        margin: 0px 80px 0px 0px;
    }

    .menterie_container_imgs,
    .prix-jb_container_imgs,
    .bavarde_container_imgs,
    .responsable_container_imgs{
        display: block;
        position: relative;
    }

    .forgeron{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .forgeron_hover{
        transform: rotate(10deg) scale(1.2);
        transition: 300ms;
    }

    .forgeron_out{
        transform: rotate(0deg) scale(1);
        transition: 300ms;
    }

    .spiral_hover{
        transform: rotate(-70deg) scale(1.2);
        transition: 300ms;
    }

    .spiral_out{
        transform: rotate(0deg) scale(1);
        transition: 300ms;
    }

    .h3_hover{
        background-color: var(--festival);
        color: white;
        transition: 300ms;
    }

    .menterie_container_text,
    .prix-jb_container_text,
    .bavarde_container_text,
    .responsable_container_text{
        align-items: flex-start;
    }


    .menterie_container_text p,
    .prix-jb_container_text p,
    .bavarde_container_text p,
    .responsable_container p{
        text-align: left;
    }

    .sub_section_link{
        align-self: center;
        font-size: 24px;
    }

    .monsieur{
        width: 230px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 55px;
    }
    
    .spring_hover{
        transform: rotate(-80deg)  scale(1.2);
        transition: 300ms;
    }

    .spring_out{
        transform: rotate(0deg) scale(1);
        transition: 300ms;
    }

    .monsieur_hover{
        transform: rotate(10deg) scale(1.2);
        transition: 300ms;
    }

    .monsieur_out{
        transform: rotate(0deg) scale(1);
        transition: 300ms;
    }

    .bavarde_gris{
        position: absolute;
        z-index: 2;
        top: 35px;
        left: 45px;
        width: 280px;
    }

    .bavarde_container_text{
        padding-left: 35px;
    }

    .star_hover{
        transform: rotate(-100deg)  scale(1.1);
        transition: 300ms;
    }

    .star_out{
        transform: rotate(0deg) scale(1);
        transition: 300ms;
    }

    .bavarde_hover{
        transform: rotate(20deg) scale(1.2);
        transition: 300ms;
    }

    .bavarde_out{
        transform: rotate(0deg) scale(1);
        transition: 300ms;
    }

    .marins{
        position: absolute;
        z-index: 2;
        top: -35px;
        left: -25px;
        width: 420px;
    }

    .inversed_spiral_hover{
        transform: rotate(-140deg)  scale(1.1);
        transition: 300ms;
    }

    .inversed_spiral_out{
        transform: rotate(0deg) scale(1);
        transition: 300ms;
    }

    .marins_hover{
        transform: rotate(11deg) scale(1.2);
        transition: 300ms;
    }

    .marins_out{
        transform: rotate(0deg) scale(1);
        transition: 300ms;
    }

    .responsable_container_text{
        padding-right: 35px;
    }
}



