body{
    margin: 0;
    padding: 0;
}


:root {
    --rose: rgb(164, 83, 83);
    --vent: rgb(25,97,89);
    --vent-alpha: rgba(25,97,89,0.4);
    --rdv: rgb(13, 51, 46);
    --rdv-alpha: rgba(13, 51, 46, 0.8);
    --forge-alpha: rgba(164, 83, 83, 0.4);
    --compagnons: rgb(124, 32, 19);
}

/* --- Modal artiste --- */

.modal-open{
    overflow: hidden;
}

.artist_modal_visible{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist_modal_hidden{
    display: none;
}

.artist_modal_container{
    width: 85%;
    height: 90%;
    background-color: white;
    padding: 20px;
}


.artist_mondal_container_upper_content{
    display: flex;
    justify-content: space-between;
    height: 65%;
}

.artist_mondal_container_upper_content_img_container{
    width: 40%;
    display: none;
}

.artist_mondal_container_upper_content_img_container img{
    width: 100%;
}

.artist_mondal_container_upper_content_bio_container{
    width: 100%;
}

.artist_modal_container_upper_content_bio_container_resume:focus{    /****************************/
    outline: none;
}

.artist_mondal_container_upper_content_bio_container h3{
    font-family: montserrat;
    margin-bottom: 5px;
}

.artist_mondal_container_upper_bio_container_titles-btn_container{
    display: flex;
}

.artist_mondal_container_upper_bio_container_titles-btn_container_h3-h4{
    width: 100%;
}

.artist_mondal_container_upper_bio_container_titles-btn_container_h3-h4 h3{
    font-family: "Montserrat";
    margin: 5px 0px;
}

.artist_mondal_container_upper_bio_container_titles-btn_container_h3-h4 h4 {
    font-family: "Monserrat";
    margin: 5px 0px;
}

.artist_mondal_container_upper_bio_container_titles-btn_container_closeBtn button{
    margin-top: 8px;
    justify-self: flex-end;
    cursor: pointer;
    font-size: 24px;
    border: none;
    background-color: white;
}

.artist_mondal_container_upper_content_bio_container_resume{
    width: 100%;
    height: 60%;
    overflow: auto;
    font-family: "Montserrat";
}


/* --- modale carousel --- */

.modal_carousel {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

#wrapper {
    width: 100%;
    max-width: 964px;
    position: relative;
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: -39px;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: -39px;
    transform: translate(-50%, -50%);
}

#content {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

.item {
    width: 276px;
    height: 75%;
    background: var(--rdv);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 15px;
}

.item_upper_content{
    font-size: 16px;
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-between;
    font-family: "Montserrat";
}

.item_upper_content h3{
    margin-top: 11px;
    margin-left: 10px;
    text-align: right;
}

.item_upper_content i{
    font-size: 40px;
}

.hide_modal_btn:hover{
    background-color: black;
    color: white;
}

.hide_modal_btn:focus{
    background-color: black;
    color: white;
    outline: none;
}

.item_lower_content{
    padding-top: 20px;
}

.item_lower_content_date{
    font-family: "Montserrat";
    font-size: 18px;
    text-align: center;
}

.item_lower_content_location{
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center;
}

.item_lower_content_link{
    overflow: visible;
    position: relative;
    left: 72px;
    top: 10px;
}

.item_lower_content_link a{
    background-color: black;
    font-family: "Montserrat";
    font-size: 18px;
    height: 40px;
    width: 220px;
    top: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.item_lower_content_link a:hover{
    color: black;
    background-color: white;
    text-decoration: underline;
    border: 2px solid black;
}

.item_lower_content_link a:focus{
    color: black;
    background-color: white;
    text-decoration: underline;
    border: 2px solid black;
    outline: none;
}



/* --- artistes main section --- */

.artistes_main{
    background-image: url(../images/artistes_background_img.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.artistes_main_white_container{
    background-color: white;
    width: 100%;
    height: 90%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.artistes_main_white_container>p{
    font-family: "Montserrat";
    width: 70%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
}

.artistes_main_white_container_search-options_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: space-between;
}

.artistes_main_white_container_search-options_container_search-input,
.artistes_main_white_container_search-options_container_select{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    padding-bottom: 4px;
}

.artistes_main_white_container_search-options_container_search-input:focus,
.artistes_main_white_container_search-options_container_select:focus{
    background-color: var(--vent);
    color: white;
    outline: none;
    border-radius: 4px;
}

.artistes_main_cards-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.artist_card{
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    color: white;
    position: relative;
    z-index: 2;
    margin: 10px 10px;
}

.card_background_photo{
    width:100%;
    position: relative;
    top:0;
    left: 0;
    z-index: 2;
}

.artist_card_overlay{
    visibility: hidden;
}

.artist_card_overlay_visible{
    visibility: visible;
    background-color: black;
    z-index: 5;
}

.artist_card h3{
    margin-bottom: 5px;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 5;
}

.artist_card h4{
    position: absolute;
    top: 55px;
    left: 15px;
    z-index: 5;
    margin:0;
}

.artist_card_resume{
    width: 275px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    margin-bottom: 10px;
    position: absolute;
    top: 40px;
    left: 15px;
    z-index: 5;
    font-family: "Montserrat";
    font-size: 16px;
}

.artist_card_resume>p{
    background-color: var(--rdv-alpha);
}

.artistes_card_green-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--vent-alpha);
    z-index: 4;
}

.artist_card_voirPlus{
    top: 265px;
    font-size: 20px;
    position: absolute;
    left: 15px;
    z-index: 5;
    color: white;
    font-family: "Montserrat";
}

.artist_card_voirPlus:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}

.artist_card_calendar{
    position: absolute;
    top:305px;
    left: 15px;
    z-index: 5;
    font-family: "Montserrat";
    background-color: white;
    height: 60px;
    font-size: 18px;
    width: 262px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 2px;
    color: var(--rdv);
    text-decoration: none;
}

.artist_card_calendar:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}

.artist_card_calendar>i{
    font-size: 40px;
    margin: 0px 15px 0px 10px;
}

.artist_card_calendar{
    color: var(--rdv);
}

.showMore_btn{
    width: 250px;
    height: 70px;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    filter: drop-shadow(5px 2px 4px #2f2f2f);
    margin-top: 18px;
    font-family: "Montserrat";
    color: white;
}

.showMore_btn:hover{
    background-color: var(--vent);
    color: white;
    transition: 500ms;
    cursor: pointer;
}

.showMore_btn:active{
    background-color: var(--rdv);
    width: 280px;
    height: 50px;
    font-size: 16px;
    transition: 150ms;
    border-radius: 10px;
}

.showMore_btn:focus{
    background-color: var(--vent);
    color: white;
    outline: none;
}


/* --- Media Queries --- */

@media screen and (min-width: 600px) {

    .artistes_main_white_container_search-options_container{
        flex-direction: row;
        height: 30px;
    }

    .artistes_main_white_container_search-options_container_search-input,
    .artistes_main_white_container_search-options_container_select{
        font-size: 18px ;
    }

    .artist_modal_container{
        height: 540px;
        width: 550px;
    }

    .artist_mondal_container_upper_content{
        display: flex;
        justify-content: space-between;
        height: 60%;
    }

    .artist_mondal_container_upper_content_bio_container_resume{
        height: 160px;
    }

    .artistes_main_white_container p{
        font-size: 20px;
    }

    .artist_mondal_container_upper_content_img_container{
        width: 40%;
        display: block;
    }

    .artist_mondal_container_upper_content_bio_container{
        width: 60%;
        padding-left: 15px;
    }
}


@media screen and (min-width: 1100px) {

    /* --- artistes section --- */

    .artistes_main_white_container_search-options_container{
        width: 95%;
    }

    .artistes_main_white_container_search-options_container_search-input,
    .artistes_main_white_container_search-options_container_select{
        font-size: 22px ;
    }

    .artistes_main_cards-section{
        flex-direction: row;
    }

    .artist_modal_container{
        height: 700px;
        width: 850px;
    }

    .artist_mondal_container_upper_content{
        height: 70%;
    }

    .artist_mondal_container_upper_content_bio_container_resume{
        height: 298px;
        line-height: 26px;
        font-size: 20px;
    }

    .artist_mondal_container_upper_bio_container_titles-btn_container_h3-h4 h3{
        font-size: 28px;
    }
    
    .artist_mondal_container_upper_bio_container_titles-btn_container_h3-h4 h4 {
        font-size: 24px;
    }


     /* --- Artist modal carousel --- */

    .modal_carousel{
        display: flex;
    }
}

@media screen and (min-width: 1200px){
    .artistes_main_white_container {
        margin: 75px auto;
        width: 90%;
        padding: 50px 20px;
    }

}

@media screen and (min-width: 1500px){

    /* --- Artist section --- */

    .artist_modal_container{
        height: 850px;
        width: 1050px;
    }

    .artist_mondal_container_upper_content{
        height: 75%;
    }

    .artist_mondal_container_upper_content_bio_container_resume{
        height: 402px;
    }
}

@media screen and (min-width: 1599px) {
    .artistes_main_white_container {
        margin: 100px auto;
        padding: 40px 80px;
        max-width: 1200px;
    }
}



