.accueil_main
.main_equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe_intro{
    width: 90%;
    margin-top: 75px;
}

.zigzag_separateur{
    margin: 50px 0px;
    width: 60%;
}

.equipe_cards_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.equipe_card{
    background-color: black;
    color: white;
    margin: 30px 0px;
    padding: 30px;
}

.equipe_card h3{
    text-align: right;
    font-size: 30px;
    margin: 5px 0px;
}

.equipe_card h4{
    text-align: right;
    margin: 0px 0px;
}

@media screen and (min-width: 800px) {
    .equipe_cards_container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
    }

}

@media screen and (min-width: 1200px) {
    .equipe_cards_container{
        width: 85%;
    }
}

/*@media screen and (min-width: 1480px){
    .equipe_cards_container{
        width: 80%;
    }
}*/

@media screen and (min-width: 1500px){
    .equipe_cards_container{
        width: 90%;
    }

    .equipe_intro{
        margin-top: 100px;
    }

    .equipe_cards_container{
        margin-bottom: 100px;
    }

    .equipe_cards_container{
        justify-content: space-between;
    }

}

=======
.accueil_main
.main_equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe_intro{
    width: 90%;
    margin-top: 75px;
}

.zigzag_separateur{
    margin: 50px 0px;
    width: 60%;
}

.equipe_cards_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.equipe_card{
    background-color: black;
    color: white;
    margin: 30px 0px;
    padding: 30px;
}

.equipe_card h3{
    text-align: right;
    font-size: 30px;
    margin: 5px 0px;
}

.equipe_card h4{
    text-align: right;
    margin: 0px 0px;
}

@media screen and (min-width: 800px) {
    .equipe_cards_container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
    }

}

@media screen and (min-width: 1200px) {
    .equipe_cards_container{
        width: 85%;
    }
}

/*@media screen and (min-width: 1480px){
    .equipe_cards_container{
        width: 80%;
    }
}*/

@media screen and (min-width: 1500px){
    .equipe_cards_container{
        width: 90%;
    }

    .equipe_intro{
        margin-top: 100px;
    }

    .equipe_cards_container{
        margin-bottom: 100px;
    }

    .equipe_cards_container{
        justify-content: space-between;
    }

}

