@font-face {
    font-family: "Homemade Apple";
    src: url(../fonts/homemadeapple-regular-webfont.woff2) format('woff2'),
        url(../fonts/homemadeapple-regular-webfont.woff) format('woff');
}

@font-face {
    font-family: "Montserrat";
    src: url(../montserrat-variablefont_wght-webfont.woff2) format('woff2'),
        url(../montserrat-variablefont_wght-webfont.woff) format('woff');
    }