

.main_content {
    width: 100%;
    background-color: white;
    padding: 50px 20px;
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url('../images/background_main.png');
        background-size: cover;
    }
    .main_content{
        margin: 75px auto;
        width: 90%;
        padding: 50px 20px;

    }
}

@media screen and (min-width: 1500px) {

    .main_content {
        margin: 100px auto;
        padding: 40px 80px;
        max-width: 1200px;
    }
}