/*------------------------ SECTION FILTRES ------------------------ */
.programmation_filters {
    padding: 19px;
}

.programmation_filters_search {
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.75);
    margin: auto;
}

.programmation_filters_search_searchBox {
    font-size: 1.2em;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.75);
    border: none;
    height: 100%;
    outline: none;
    width: 100%;
    padding: 8px;
}

.programmation_filters_search_icon > .material-symbols-outlined {
    color: rgba(0, 0, 0, 0.75);
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

.programmation_filters_bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.programmation_filters_bottom_dateBox, .programmation_filters_bottom_disciplineBox {
    width: 100%;
    height: 40px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.75);
}

.programmation_filters_bottom_dateBox_input, .programmation_filters_bottom_disciplineBox_input {
    width: 100%;
    background-color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    border-radius: 0;
}


.programmation_filters_bottom_dateBox_input {
    height: 35px;
}

.programmation_filters_bottom_disciplineBox_input {
    height: 40px;
}


.programmation_filters_checkBox, .programmation_filters_PcCheckBox {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.programmation_filters_PcCheckBox {
    display: none;
    min-width: 300px;
    margin: 5px 10px;
}

/*------------------------ CONTAINER DE CARTES ------------------------*/
.programmation_cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*------------------------ CARTES ------------------------*/
.eventCard {
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    max-width: 170px; /* GROSSEUR DES CARTES ICI SEULEMENT */
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 15px;
}

.eventCard_container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.eventCard_infoBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.eventCard_infoBox_date {
    color: white;
    background-color: black;
    width: fit-content;
    padding: 10px;
    font-weight: 600;
    padding-left: 5%;
}

.eventCard_infoBox_date_date {
    font-size: 1.5em;
}

.eventCard_infoBox_date_date, .eventCard_infoBox_date_day {
    margin: 0;
}

.eventCard_infoBox_info {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.eventCard_infoBox_info_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.eventCard_infoBox_info_container_placeNPrice {
    background-color: rgba(0, 0, 0, 0.787);
    font-weight: 550;
    width: 100%;
    padding-left: 5%;
}

.eventCard_infoBox_info_container_placeNPrice >p , .eventCard_infoBox_info_container_desc >p {
    margin: 0;
}

.eventCard_infoBox_info_container_desc {
    width: 90%;
    display: none;
    margin: auto;
    margin-top: 10px;
}

.eventCard_infoBox_info_buttonContainer {
    background-color: rgba(0, 0, 0, 0.787);
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
}

.eventCard_infoBox_info_button {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    padding-left: 10px;
    background-color: white;
    border: none;
    padding: 5px;
    width: 90%;
}

.eventCard_infoBox_info_button > .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 250,
        'GRAD' 200,
        'opsz' 20
}

.eventCard_infoBox_info_button:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
}

.eventCard_photoBox > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.eventCard_titleBox {
    margin-top: 3px;
    padding: 5px;
    padding-left: 5%;
    background-color: black;
    color: white;
}

.eventCard_titleBox > p {
    margin: 0;
}




@media screen and (min-width: 720px) {
    .programmation_filters_checkBox {
        display: none;
    }

    .programmation_filters_PcCheckBox {
        display: flex;
    }
}



@media screen and (min-width: 900px) {
    /* CARTES */
    .eventCard {
        max-width: 300px; /* GROSSEUR DES CARTES ICI SEULEMENT */
    }

    .eventCard_infoBox{
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s ease;
    }

    .eventCard_infoBox_info {
        margin: 15px 0px;
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .eventCard_infoBox_info_container {
        display: block;
    }

    .eventCard_infoBox_info_container_placeNPrice {
        background-color: rgba(0, 0, 0, 0);
        font-weight: 550;
    }    

    .eventCard_infoBox_info_container_desc {
        display: block;
    }

    .eventCard_infoBox_info_buttonContainer {
        background-color: rgba(0, 0, 0, 0);
    }    

    .eventCard_infoBox_info_button {
        font-size: 20px;
    }

    .eventCard_infoBox_info_button > .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 200,
            'opsz' 48
    }

    .eventCard_infoBox_info_button:hover {
        padding: 10px;
        transition: padding 0.1s ease-in-out;
    }

    .eventCard_titleBox {
        padding: 12px;
        padding-left: 5%;
        background-color: black;
        color: white;
    }
}