.main_content{
    margin: 0;
    width: 100%;
    padding: 0;
    
}

.simpliquer_intro, .simpliquer_benevole_textblock, .simpliquer_menterie_textblock, .simpliquer_menterie_sous-titre, .simpliquer_menterie_accordion_panel{
    padding: 0 20px;
}

.simpliquer_intro{
    padding-top: 50px;
}

.simpliquer_intro, .simpliquer_benevole, .simpliquer_menterie{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.simpliquer_benevole_title, .simpliquer_menterie_title{
    background-color: black;
    color: white;
    padding: 15px 30px;
    transform: rotate(-4deg);
    width: fit-content;
    margin: 50px 0;
}

.simpliquer_benevole_button_container, .simpliquer_menterie_button_container{
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simpliquer_menterie_button_container{
    height: 200px;
}

.simpliquer_menterie_sous-titre{
    display: block;
    text-align: left;
    align-self: flex-start;
    margin: 28px 0 8px 0;
}

.simpliquer_benevole_img-fixed{
    margin: 20px 0;
    width: 110vw;
    height: 300px;
    background-image: url(../images/benevole-complete.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

.simpliquer_benevole_img{
    display: none;
}

.simpliquer_menterie_accordion{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 24px 12px;
    box-shadow: var(--shadow-btn-cta);
    transition: 500ms;
    border: none;
}



.simpliquer_menterie_accordion_panel{
    background-color: var(--festival);
    padding: 12px;
    display: none;
    overflow: hidden;
}

.simpliquer_menterie_accordion_panel_content{
    background-color: white;
    padding: 12px;
}

.aside_gagnants_title{
    margin: 0;
}

.aside_gagnants{
    display: grid !important;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr 175px;
    background-color: var(--festival);
    color: white;
    width: 100%;
    display:block;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

.aside_gagnants_title{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.aside_gagnants_liste{
    padding: 0;
}

.aside_gagnants_liste_item{
    list-style: none;
}

.colone1{
    grid-row: 2 /3;
    grid-column: 1 / 2;
}
.colone2{
    grid-row: 2 /3;
    grid-column: 2 / 3;
}

.simpliquer_menterie_img{
    display: none;
}

@media screen and (min-width: 1200px) {
    .main_content{
        margin: 75px auto;
        width: 90%;
        padding: 50px 20px;
        /*height: 2400px;*/
    }
    
    .simpliquer_intro {
        width: 100%;
    }  
    
    .simpliquer_benevole, .simpliquer_menterie{
        display: block;
        width: 80%;
        margin: 0 auto;
        position: relative;
    }

    .simpliquer_benevole_title, .simpliquer_menterie_title{
        margin-top: 50px;
        position:relative;
        left: -160px;
    }

    .simpliquer_benevole_btn-sinscrire{
        display: block;
        margin: 50px auto;
        text-align: center;
    }

    .simpliquer_benevole_img{
        display: block;
        transform: rotate(8deg);
        position: relative;
        left: 750px;
        top: -140px;
    }

    .simpliquer_benevole_img-fixed{
        display: none;
    }

    .simpliquer_menterie{
        position: relative;
        top: -300px;
    }

    .simpliquer_menterie_accordion{
        width: 100%;
    }

    .simpliquer_menterie_accordion_panel{
        background-color: var(--festival);
        padding: 12px;
        display: none;
        overflow: hidden;
        position: absolute;
        z-index: 2;
    }

    .aside_gagnants{
        display: grid !important;
        grid-template-columns: 300px 350px 1fr;
        grid-template-rows: 1fr 175px;
        background-color: var(--festival);
        color: white;
        width: 80vw;
        display:block;
        margin: 0 auto;
        position: relative;
        top: -250px;
        left: -100px;
        padding: 50px;
    }

    .aside_gagnants_title{
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    .colone1{
        grid-row: 2 /3;
        grid-column: 1 / 2;
    }
    .colone2{
        grid-row: 2 /3;
        grid-column: 2 / 3;
    }

    .simpliquer_menterie_img{
        display: block;
        position: relative;
        height: 500px;
        top:-700px;
        right: -800px;
    }

}