


@media screen and (min-width: 1200px){

    .simpliquer_benevole_modale{

        background-color: white;
        width: 1000px;
        margin: 0 auto;
        border: solid 3px black;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .simpliquer_benevole_modale_closebtn-container{
        padding: 12px;
        align-self: flex-end;
    }

    .simpliquer_benevole_modale_closebtn{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }  

    .simpliquer_benevole_modale_closebtn:focus{
        background-color: var(--vert-alpha);
        border: none;
        color: white;
    }

    .simpliquer_benevole_modale_title_container{
        height: fit-content;
        display: grid;
        grid-template-columns: 90px 90px 50px;
        grid-template-rows: 30px 50px;
        position: relative;
    }

    .simpliquer_benevole_modale_title{
        margin: 0;
        text-align: right;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }

    .simpliquer_benevole_modale_title-cursive{
        font-family: "Homemade apple", sans-serif;
        font-size: 48px;
        font-weight: lighter;
        color: var(--festival);
        margin: 0;
        grid-column: 1 / 4;
        grid: 1 / 2;
        position: relative;
        top: -20px;
    }

    .simpliquer_benevole_modale_intro{
        padding: 20px 110px;
        text-align: center;
    }

    .simpliquer_benevole_modale_form{
        width: 800px;
        margin: 0 auto;
    }



   /*GRID DISPONIBILITÉS*/
   
   .tableau-dispo {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3px;
    justify-items: center;
    align-items: center;
    background-color: var(--festival);
    border: 3px solid var(--festival);
    }
   
   .legend-date, .legend-heure, .coin-vide{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--festival);
    width: 100%;
    height: 100%;
    }

    .legend-date span, .legend-heure span{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: lowercase;
    text-align: center;
    color: white;
    }

    .checkbox-dispo{
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
    }

    .checkbox-dispo .checkbox{
        position: relative;
        left: 20px;
    }


    .coin-vide { grid-area: 1 / 1 / 2 / 2; }
    /*LABEL DATE*/
    .jour1 { grid-area: 1 / 2 / 2 / 3; }
    .jour2 { grid-area: 1 / 3 / 2 / 4; }
    .jour3 { grid-area: 1 / 4 / 2 / 5; }
    .jour4 { grid-area: 1 / 5 / 2 / 6; }
    .jour5 { grid-area: 1 / 6 / 2 / 7; }
    .jour6 { grid-area: 1 / 7 / 2 / 8; }
    .jour7 { grid-area: 1 / 8 / 2 / 9; }
    .jour8 { grid-area: 1 / 9 / 2 / 10; }
    .jour9 { grid-area: 1 / 10 / 2 / 11; }
    .jour10 { grid-area: 1 / 11 / 2 / 12; }
    /*LABEL HEURE*/
    .AM { grid-area: 2 / 1 / 3 / 2; }
    .PM { grid-area: 3 / 1 / 4 / 2; }
    .soir { grid-area: 4 / 1 / 5 / 2; }
    /*CHECKBOXES*/
    .jour1-am { grid-area: 2 / 2 / 3 / 3; }
    .jour1-pm { grid-area: 3 / 2 / 4 / 3; }
    .jour1-soir { grid-area: 4 / 2 / 5 / 3; }
    .jour2-am { grid-area: 2 / 3 / 3 / 4; }
    .jour2-pm { grid-area: 3 / 3 / 4 / 4; }
    .jour2-soir { grid-area: 4 / 3 / 5 / 4; }
    .jour3-am { grid-area: 2 / 4 / 3 / 5; }
    .jour3-pm { grid-area: 3 / 4 / 4 / 5; }
    .jour3-soir { grid-area: 4 / 4 / 5 / 5; }
    .jour4-am { grid-area: 2 / 5 / 3 / 6; }
    .jour4-pm { grid-area: 3 / 5 / 4 / 6; }
    .jour4-soir { grid-area: 4 / 5 / 5 / 6; }
    .jour5-am { grid-area: 2 / 6 / 3 / 7; }
    .jour5-pm { grid-area: 3 / 6 / 4 / 7; }
    .jour5-soir { grid-area: 4 / 6 / 5 / 7; }
    .jour6-am { grid-area: 2 / 7 / 3 / 8; }
    .jour6-pm { grid-area: 3 / 7 / 4 / 8; }
    .jour6-soir { grid-area: 4 / 7 / 5 / 8; }
    .jour7-am { grid-area: 2 / 8 / 3 / 9; }
    .jour7-pm { grid-area: 3 / 8 / 4 / 9; }
    .jour7-soir { grid-area: 4 / 8 / 5 / 9; }
    .jour8-am { grid-area: 2 / 9 / 3 / 10; }
    .jour8-pm { grid-area: 3 / 9 / 4 / 10; }
    .jour8-soir { grid-area: 4 / 9 / 5 / 10; }
    .jour9-am { grid-area: 2 / 10 / 3 / 11; }
    .jour9-pm { grid-area: 3 / 10 / 4 / 11; }
    .jour9-soir { grid-area: 4 / 10 / 5 / 11; }
    .jour10-am { grid-area: 2 / 11 / 3 / 12; }
    .jour10-pm { grid-area: 3 / 11 / 4 / 12; }
    .jour10-soir { grid-area: 4 / 11 / 5 / 12; }

}

/*LISTE QUEL GENRE DE BÉNÉVOLAT*/

.checkbox .choix-bene{
    margin: 24px;
}