.h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.h2-cursive{
    font-family: "Homemade Apple", sans-serif;
    font-size: 24px;
    font-weight: normal;
}

.h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.h3-cursive{
    font-family: "Homemade Apple", sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.card-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.citation{
    font-family: "Homemade Apple", sans-serif;
    font-size: 32px;
    line-height: 160px;
    font-weight: normal;
} 

.textblock-plus{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 27.4px;
}

.textblock{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
}

.textblock_sous-titre{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.5px;
    text-decoration: underline 2px solid black;
}

.btn-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.btn-default{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    transition: 300ms;
}
.btn-default:active{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: 300ms;
}



@media screen and (min-width: 1200px){

    .h1{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 36px;
    }
    
    .h2{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 32px;
    }
    
    .h2-cursive{
        font-family: "Homemade Apple", sans-serif;
        font-size: 32px;
        font-weight: normal;
    }
    
    .h3{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
    }
    
    .h3-cursive{
        font-family: "Homemade Apple", sans-serif;
        font-size: 20px;
        font-weight: normal;
    }
    
    .h4{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 16px;
    }
    
    .card-title{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
    }
    
    .citation{
        font-family: "Homemade Apple", sans-serif;
        font-size: 32px;
        line-height: 160px;
        font-weight: normal;
    } 
    
    .textblock-plus{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 27.4px;
    }
    
    .textblock{
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 23.5px;
    }
    
    .textblock_sous-titre{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 23.5px;
        text-decoration: underline 2px solid black;
    }
    
    .btn-link{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
    
    .btn-default{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        transition: 300ms;
    }
    .btn-default:active{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        transition: 300ms;
    }

}

