

.main_content {
    width: 100%;
    background-color: white;
    padding: 50px 20px;
}

@media screen and (min-width: 1599px) {
    body {
        background-image: url('../images/background_main.png');
        
    }

    .main_content {
        margin: 100px auto;
        padding: 40px 80px;
        max-width: 1200px;
    }
}